name: ProcessHacker With Plugins Extra
on: push
jobs:
  #64-bit windows build --
  build-win:
    name: Windows
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Checkout Plugins-Extra
      uses: actions/checkout@v2
      with:
        repository: processhacker/plugins-extra
        path: plugins-extra
        fetch-depth: 1
    #- run: git checkout HEAD

    - uses: microsoft/setup-msbuild@v1.0.1 
    
    - name: Build ProcessHacker
      continue-on-error: true
      run: |
        msbuild ProcessHacker.sln /p:Configuration=Release /p:Platform=x64
        copy bin\Release64\*.* sdk\lib\amd64\
 
    - name: Build Plugins Extra   
      continue-on-error: true
      run: |
        msbuild plugins-extra\ExtraPlugins.sln /p:Configuration=Release /p:Platform=x64
        7z a -tzip -r plugins-extra_x64-release.zip ".\bin\Release64\plugins\*.dll" -x!SbieSupport.dll

    - name: Archive plugins artifacts
      if: ${{ ! failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: plugins-extra-x64
        path: bin/Release64/plugins/*.dll

    - name: Create Release
      if: ${{ ! failure() }}
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.run_id }}
        release_name: Release ${{ github.run_id }}
        
    - name: Upload Release Asset
      if: ${{ ! failure() }}
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./plugins-extra_x64-release.zip
        asset_name: plugins-extra_x64-release.zip
        asset_content_type: application/zip
